body {
-moz-osx-font-smoothing:grayscale;
-ms-flex-direction:column;
-webkit-box-direction:normal;
-webkit-box-orient:vertical;
-webkit-font-smoothing:antialiased;
background-color:#4264c0;
background-size: cover;
color:rgb(0, 153, 255);
display:flex;
flex-direction:column;
font-family: Montserrat, sans-serif;
font-size: 1em;
font-weight:300;
margin:0;
min-height:100vh;
padding:0;
background-position: center;
}

/* Logo */
div h2 {
	font-family: 'Roboto Slab', serif;
	color: rgb(0, 195, 255);
}

em {
	font-family: 'Roboto Slab', serif;
	color: rgb(0, 195, 255);
	font-size: larger;
}

section.header {
	position: sticky;
	background-size: cover;
	background-color: #2530c2c0;
}

/* Menu */
nav {
	margin: 0 auto;
	max-width: 800px;
	background: #2530c2c0;
	box-shadow:0 3px 15px rgba(11, 3, 56, 0.295);
	top: 0%;
	float: right;
}

nav::after {
	display: block;
	content: '';
	clear: both;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	color: rgba(195, 204, 255, 0.9);
	text-decoration: none;
	padding: 1rem 2rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
	background: #ffffff48;
}

nav ul li a:focus {
	color: rgba(195, 204, 255, 0.9);
}

nav ul li a:not(:only-child)::after {
	padding-left: 4px;
	content: ' ▾';
}

nav ul li ul li {
	min-width: 190px;
}

nav ul li ul li a {
	background: transparent;
	color: #2530c2c0;
	border-bottom: 1px solid #DDE0E7;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
	background: #2530c2c0;
	color: #111;
}

.dropdown {
	display: none;
	position: sticky;
	background: rgba(195, 204, 255, 0.9);
	box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}


/* Centro da Página */
.centro {
	background-image: url(img/sala2.gif);
	opacity: 0.8;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.centro .plata {
	position: relative;
}

/* Rodapé */
  .footer-basic {
	background-color:#2530c2c0;
	color:#000000;
	position: fixed;
	top: 82.4%;
	right: 0%;
	
  }
  
  .footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
  }
  
  .footer-basic li {
	padding:0 10px;
  }
  
  .footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
  }
  
  .footer-basic ul a:hover {
	opacity:1;
  }
  
  .footer-basic .social {
	text-align:center;
  }
  
  .footer-basic .social > img {

	text-align:center;
	padding-bottom:6px;
	max-width: 2%;
	width: 2%;
  }
  .footer-basic .social > a {
	font-size:18px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	margin:0 8px;
	color:inherit;
	opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
	opacity: 0.9;
  }
  
  .footer-basic .copyright {
	margin-top:26px;
	text-align:center;
	font-size:14px;
	color:#aaa;
	margin-bottom:0;
  }

  /* Icon do Whatsapp */
  .fale .wha {
	position: sticky;
	max-width: 3%;
	width: 3%;
	right: 0%;
	float: right;

  }